{{define "title"}}
    编辑文章
{{end}}

{{define "main"}}
    <div class="col-md-9 blog-main">
        <div class="blog-post bg-white p-5 rounded shadow mb-4">

            <h3 class="blog-post-title">此博客是用以记录编程笔记，如您有反馈或建议，请联系<a href="mailto:363201375@qq.com">363201375@qq.com</a></h3>

        </div><!-- /.blog-post -->
    </div>

{{end}}